{% extends "profil/prestataire.html.twig" %}

{% block content_profil%}

    <div class="posts posts-condensed">
        {% for stage in utilisateur.stages %}
        <div class="post">
            <div class="post-date">08/24/2015</div><!-- /.post-date -->

            <div class="post-image">
                <a href="blog-detail.html">
                    <img src="{{asset('img/tmp') }}{#{{ prestataire.image }}#}/product-11.jpg" alt="A Clockwork Origin">
                </a>
            </div><!-- /.post-image -->

            <div class="post-content">
                <h2><a href="blog-detail.html">A Clockwork Origin</a></h2>
                <p>And from now on you're all named Bender Jr. The...</p>
            </div><!-- /.post-content -->

            <div class="post-more">
                <a href="blog-detail.html">Read More</a>
            </div><!-- /.post-date -->
        </div><!-- /.post -->
        {% endfor %}

    </div><!-- /.posts -->


{% include 'lib/search/pager.html.twig' %}
{% endblock %}

{% block subTitle %}
    <h2>Stages</h2>
{% endblock %}