<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <link href="http://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet" type="text/css">
    <link href="libraries/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="libraries/owl.carousel/assets/owl.carousel.css" rel="stylesheet" type="text/css" >
    <link href="libraries/colorbox/example1/colorbox.css" rel="stylesheet" type="text/css" >
    <link href="libraries/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" type="text/css">
    <link href="libraries/bootstrap-fileinput/fileinput.min.css" rel="stylesheet" type="text/css">
    <link href="css/superlist.css" rel="stylesheet" type="text/css" >

    <link rel="shortcut icon" type="image/x-icon" href="favicon.png">

    <title>Superlist - Admin Dashboard</title>
</head>


<body>

<div class="page-wrapper">

    {% include 'admin/adminNavBar.html.twig' %}



